@import '_variables';
@import '_mixins';
@import '_type';
// @import '_fonts';
// @import 'forms';

* {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: $page-color;
  color: $text-color;
  text-align: center;
}

ul {
  list-style-position: inherit;
  padding: 1em;
}

a:link,
a:visited {
  text-decoration: none;
  color: $accent-color;
  border-bottom: solid 1px lighten($accent-color, 30%);

  &:hover {
    color: lighten($accent-color, 15%);
    border-bottom: solid 1px $accent-color;
  }

}

.container {

  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;

  @include bp(narrow) {
    padding-left: 2em;
    padding-right: 2em;
  }
  @include bp(mid) {
    width: 550px;
    font-size: 1.1em;
  }
  @include bp(wide) {
    width: 750px;
    font-size: 1.2em;
  }

}

.nav {

  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;

  li {

    margin-left :0.2em;
    margin-right: 0.2em;

    @include bp(narrow) {
      display: inline;
    }
  }

}

header {

  padding-top: 1em;
  padding-bottom: 3em;
  margin-bottom: 3em;
  font-size: 0.8em;
  background: linear-gradient(0deg, $theme-color, black);
  color: lighten($theme-color, 50%);

  a:link,
  a:visited {
    color: lighten($theme-color, 70%);
    border-bottom-color: lighten($theme-color, 50%);

    &:hover {
      color: lighten($theme-color, 100%);
      border-bottom-color: lighten($theme-color, 80%)
    }
  }
}


footer {

  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 3em;
  font-size: 0.8em;
  background-color: $theme-color;
  color: lighten($theme-color, 50%);

  a:link,
  a:visited {
    color: lighten($theme-color, 70%);
    border-bottom-color: lighten($theme-color, 50%);

    &:hover {
      color: lighten($theme-color, 100%);
      border-bottom-color: lighten($theme-color, 80%)
    }
  }
}
